{% extends "base.html" %}

{% block content %}

<h1>About the House Hunter</h1>
<hr />
<p class="page-content">
  House Hunter is a revolutionary app designed to streamline the home-buying process for couples and individuals alike. This innovative application allows users to consolidate their property search by importing details and images of homes they are interested in directly from various real estate websites into one centralized platform. By eliminating the need to juggle between different sites or keep track of numerous listings manually, House Hunter offers a seamless and efficient way to organize and review potential homes. With its user-friendly interface, House Hunter simplifies the decision-making process, enabling users to compare properties, features, and prices side by side. Whether you're in the early stages of looking for a new home or narrowing down your final choices, House Hunter is the perfect companion to help you and your loved ones find the home of your dreams.
</p>

{% endblock %}