{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/house.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
  <div class="house-container">
    {% comment %} !Add Logo Below {% endcomment %}
    <img src="{% static '' %}" alt="The House Hunter Logo" />
  </div>
  <img 
    src="{% static 'images/logotype.svg' %}" 
    alt="Text reads: House Hunter"
  />
</section>

{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% endif %}

{% endblock %}