{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/houses/house-detail.css' %}"
/>
<script defer src="{% static 'js/house-detail.js' %}"></script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap')
</style>
{% endblock %}

{% block content %}

<section class="house-container">
<div class="house-img">
    {% if house.photo.url %}
      <img 
        src="{{house.photo.url}}" 
        alt="A photo of {{house.type}}"
        class="usr-img"
      >
    {% else %}
      <img 
        {% comment %} src="{% static '!' %}"  LOGO for my APP{% endcomment %}
        alt="A house"
      >
    {% endif %}
  </div>
  <div class='house-details'>
    <h1 class="price-detail"> ${{ house.price }} </h1>
    <h2 class="address"> {{ house.address }} </h2>
    {% if house.type == 'lot' %}
      <p>{{ house.lotsize }} acres</p> 
      <p>- Lot / Land for sale</p>
      <span>House Listed By {{ house.listed_by }}</span>
    {% else %}
      <div class='house-details'>
        <span class="detail-info"> {{ house.bedrooms }} bedrooms</span>
        <span class="detail-info"> {{ house.bathrooms }} bathrooms</span>
        <span class="detail-info"> {{ house.sqft }} sqft</span>
        <span class="detail-info"> {{ house.type }} for sale</span>
      </div>
    {% endif %}
    <hr/>
    <h2>What's Special</h2>
    <p class="description-info">{{ house.description }}</p>
    <hr/>
    <h2>Tax Information</h2>
    <p class="taxes">This home's tax assessment was ${{ house.tax_assessment }} in {{ house.tax_year }} and paid ${{ house.property_taxes }} in property taxes</p>
    <hr/>
    <span class="listed-by">House Listed By {{ house.listed_by }} </span>
    <a href="{{ house.original_url }}">View Original Listing</a>
  </div>
  <div class="house-actions">
      <a href="{% url 'house-update' house.id %}" class="btn warn">Edit</a>
      <a href="{% url 'house-delete' house.id %}" class="btn danger">Delete</a>
  </div>
  <h3>Change {{ house.address }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add-photo' house.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
</section>

{% endblock %}