{% extends "base.html" %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/houses/house-index.css' %}"
/>
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>House List</h1>
</section>
<section class="card container">
  {% for house in houses %}
    <div class="card">
      <a href="{% url 'house-detail' house.id %}">
        <div class="card-content">
          {% comment %} <div class="card-img-container"> {% endcomment %}
            {% comment %} !Insert picture of house below {% endcomment %}
            {% comment %} <img 
              src="{% static '' %}" 
              alt="A house"
            >
          </div> {% endcomment %}
          <h2 class="card-title">{{ house.price }}</h2>
          {% if house.type == 'lot' %}
            <p>{{ house.lotsize }} acres</p> 
            <p>- Lot / Land for sale</p>
            <span>House Listed By {{ house.listed_by }}</span>
          {% else %}
            <p> {{ house.bedrooms }} bds</p>
            <p> {{ house.bathrooms }} ba</p>
            <p> {{ house.sqft }} sqft</p>
            <p> {{ house.type }} for sale</p>
          {% endif %}
          <p> {{ house.address }} </p>
          <span>House Listed By {{ house.listed_by }} </span>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}