{% extends "base.html" %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/houses/house-index.css' %}"
/>
<script defer src="{% static 'js/house-detail.js' %}"></script>
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>House List</h1>
</section>
<section class="card">
  {% for house in houses %}
    <div class="card-container">
      <a class="card" href="{% url 'house-detail' house.id %}">
        <div class="card-content">
          {% if house.photo.url %}
            <img 
              src="{{house.photo.url}}" 
              alt="A photo of {{house.address}}"
              class="usr-img"
            >
          {% else %}
            <img 
              src="{% static '' %}" 
              alt="A home"
            >
          {% endif %}
        </div>
        <div class="info">
          <h2 class="card-title">${{ house.price }} {{ house.type }} for sale</h2>
          <h2> {{ house.address }} </h2>
          {% if house.type == 'lot' %}
            <p>{{ house.lotsize }} acres</p> 
            <p>- Lot / Land for sale</p>
            <span>House Listed By {{ house.listed_by }}</span>
          {% else %}
            <div class="details-row">
              <span class="home-details"> {{ house.bedrooms }} bds</span>
              <span class="home-details"> {{ house.bathrooms }} ba</span>
              <span class="home-details"> {{ house.sqft }} sqft</span>
            </div>
          {% endif %}
          <span>House Listed By {{ house.listed_by }} </span>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}