{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/homes/home-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="home-container">
  {% comment %} !<div class="home-img">
    <img 
      src="{% static '' %}" 
      alt="A home"
    >
  </div> {% endcomment %}
  <div class='home-details'>
    <h1> ${{ home.price }} </h1>
    <p> {{ home.address }} </p>
    {% if home.type == 'lot' %}
      <p>{{ home.lotsize }} acres</p> 
      <p>- Lot / Land for sale</p>
      <span>Home Listed By {{ home.listed_by }}</span>
    {% else %}
      <p> {{ home.bedrooms }} bds</p>
      <p> {{ home.bathrooms }} ba</p>
      <p> {{ home.sqft }} sqft</p>
      <p> {{ home.type }} for sale</p>
    {% endif %}
    <p>{{ home.description }}</p>
    <p>This home tax assessment was ${{ home.tax_assessment }} in {{ home.tax_year }} and paid ${{ property_taxes }} in property taxes</p>
    <span>Home Listed By {{ home.listed_by }} </span>
    <a href="{{ home.original_url }}">View Original Listing</a>
  </div>
  <div class="home-actions">
      <a href="{% url 'home-update' home.id %}" class="btn warn">Edit</a>
      <a href="{% url 'home-delete' home.id %}" class="btn danger">Delete</a>
    </div>
</section>

{% endblock %}